@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .logo img {
        height: 8rem;
        width: 8rem;
        max-width: 100%;
        max-height: auto;
    }
}